<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is my first web page for Day 1">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Basma">


  <title>Day 1</title>
  <link rel="icon" href="images/favicon.webp">

  <!-- cdn fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: azure;
    }
  </style>

</head>


<body>

  <!-- NAVIGATION -->
  <div>
    <a href="index.html">
      <img src="images/formcarry_logo.svg" alt="">
    </a>

    <ul>
      <li>
        <a href="login.html">Login</a>
      </li>
      <li>
        <a href="register.html">Sign up</a>
      </li>
    </ul>
  </div>


  <!-- HERO SECTION -->
  <div>
    <p>form api</p>
    <h1>Receive emails <img src="images/lightning_icon.svg" alt=""> instantly
      from your website <img src="images/formcarry_icon.svg" alt=""> form</h1>
    <p>Never worry about the backend of your form again. Create your HTML form, <br>
      connect to our API, get email notifications, block spam, and use <br>
      over 3000 integrations.</p>

    <ul>
      <li>
        <a href="register.html">get started</a>
      </li>
      <li>
        <a href="#payment">learn more</a>
      </li>
    </ul>
  </div>



  <!-- COLLABORATE-INTEGRATE SECTION -->
  <div>
    <!-- COLLABORATION -->
    <div>
      <div>
        <img src="images/team_icon.webp" alt="">
        <h3>Better, together.</h3>
        <p>Want to share your data with your team? Well you might. <br>
          Fortunately formcarry supports that, invite your clients or <br>
          team members to your form in seconds, then use <br>
          formcarry together.</p>
        <p>Join multiple teams with your account, have control over <br>
          different projects.</p>
      </div>
      <!-- backgorund-image -->
      <div></div>
    </div>



    <!-- INTEGRATION -->
    <div>
      <div>
        <img src="images/integrations_icon.webp" alt="">
        <h3>Integrations, done.</h3>
        <p>Want to add contacts to your favorite CRM? Maybe <br>
          you want to send your form submissions to your email <br>
          marketing tools? Well that's all possible with formcarry <br>
          and easy to setup too.</p>
        <p>3000+ apps available to integrate, the sky is the limit.</p>
      </div>
      <!-- backgorund-image -->

      <div></div>
    </div>

  </div>


  <div>
    <p id="payment">payments through stripe</p>
    <h2>Collect payments
      from your form, easily!</h2>
    <p>Connect your Stripe account to formcarry, and sell your Stripe products with <br>
      minimum effort, you can whether use Stripe Checkout, or your own payment <br>
      form and define actions based on the payment status.</p>
  </div>


  <div>
    <p>formcarry. all rights reserved </p>
    <ul>
      <li>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://www.github.com" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </ul>
  </div>

</body>

</html>