<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <div>
    <img src="images/login_icon.svg" alt="" />
    <h4>Welcome back</h4>
    <p>It's time to catch-up</p>
    <form>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <div>
        <span>
          <input type="checkbox" name="rememeber" id="" />
          <label for=""> Remember me </label>
        </span>
        <span> Forgot your password? </span>
      </div>
      <button>login</button>
      <a href="register.html">I don't have an account</a>
    </form>
  </div>
</body>

</html>