/* Type here CSS code */
/* 3 ways to write CSS:
        1- inline Style 
        2- internal CSS
        3- external CSS


    CSS : Cascading Style Sheets
    priority
    inline Style > internal = external

*/
p {
    color: blue;
    font-size: 24px;
}