*{
    font-family: Arial, Helvetica, sans-serif;
}
p {
    /* color: red; */
    /* color: #aa0a00; */
    color: rgb(50,100,180);
    font-size: 20px;
}

h1{
    font-family: 'Times New Roman', Times, serif ;
    color: brown;
    text-align: center;
}

#main-branch {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -1px;
}

#long{
    line-height: 100px;
    word-spacing: 22px;
}

h3 {
    text-decoration: underline;
}

.branch{
    text-transform: uppercase;
}