* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0.5rem;
    line-height: 1.5rem;
}

.header,
.directions,
.ingredients,
.user-comments,
.links {
    padding: 2rem 0;
    border-bottom: 2px solid black;
}

.header h1,
.header h2,
.directions h2,
.ingredients h2,
.user-comments h2,
.links h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    background-color: rgb(225, 225, 224);
    padding-top: 2px;
    color: #a1a81e;
    text-decoration: underline;
    margin-bottom: 2rem;
    padding: 4px
}

/* header */

.header h1 {
    text-align: center;
    text-transform: capitalize;
}

/* directions */
.directions span {
    font-weight: bold;
}

.ordered,
.unordered {
    margin-left: 2rem
}

/* comments */

.user-comments .comment {
    background-color: #f2f79a;
    margin: 1rem 3rem
}

/* links */

.links a {
    color: #a1a81e;
}

.links .anchors {
    margin-top: 1rem
}

.links .images {
    margin: 1rem 0;
}

.links .images img {
    border: 5px solid #a1a81e;
    ;
    display: inline-block;
    margin: 0 0.2rem;
    height: 5rem
}

.links {
    border-bottom: none;
    padding-bottom: 0;
}